*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fff0db;
}
nav{
    display: flex;
    height: 10vh;
    width: 100vw;
}
nav img{
    width: 150px;
    margin: 20px;
    cursor: pointer;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff0db; /* Light charcoal gray */
}
.filter-buttons{
    display: flex;
}
.filter-button{
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.filter-button.active{
    background-color: #797899; /* Charcoal gray */
}
#searchBar{
    padding: 10px;
    width: 200px;
}
.character-list{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around; /* Center characters */
}
.character-card {
    display: inline-block; 
    background-color: #faf0e6; /* Light charcoal gray */
    border: 1px solid #000000;
    border-radius: 8px;
    width: calc(25% - 20px); 
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box; 
}
.character-card:hover {
    transform: scale(1.05);
}
.character-card img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}


.character-card .character-info {
    padding-top: 10px; 
}

.character-card .character-info h3 {
    margin: 0;
    font-size: 16px; 
}

.character-card .character-info p {
    margin: 0;
    font-size: 14px; 
    color: #797899; 
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.pagination-button{
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.pagination-button:hover {
    background-color: #797899;
}
.page-numbers{
    display: flex;
}
.page-numbers button{
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.page-numbers button.active {
    background-color: #797899; /* Blue */
    color: white;
}

#characterDetails {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    text-align: center;
}
#characterDetails p{
    margin: 20px;
}

.back-button {
    background-color: #797899; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}
.back-button:hover {
    background-color: #797899;
}

/* MEDIA QUERIES FOR PHONES */

@media screen and (max-width: 768px) {
   
    nav {
        height: 75px; 
        width: 100vw; 
    }

    nav img {
        width: auto;
        height: auto;
    }
    .controls{
        width: 100%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .character-list {
        display: flex;
        overflow-y: hidden;
        overflow-x: hidden;
        flex-wrap: wrap;
        justify-content: space-between; 
    }

    .character-card {
        width: calc(50% - 20px); 
        margin: 10px 0; 
    }
    .character-card img {
        width: 90%;
        max-width: 100%; 
        height: auto; 
    }
    .page-numbers button{
        padding: 7px 10px;
        margin: 0 5px;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .pagination-button{
        padding: 7px;
        margin: 7px;
    }

   
}
