*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
nav{
    display: flex;
    height: 10vh;
    width: 100vw;
}
nav img{
    width: 150px;
}
.settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
}
.filter-buttons{
    display: flex;
}
.filter-button{
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.filter-button.active{
    background-color: #ccc;
}
#searchBar{
    padding: 10px;
    width: 200px;
}
.character-list{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.character-card{
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.character-card img{
    max-width: 100%;
    border-radius: 8px;
}
.character-detail{
    padding: 20px;
    display: none;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.pagination-button{
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.page-numbers{
    display: flex;
}
.page-numbers button{
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}